@import url(../css/menu.css);

.row.featurette {
    flex-wrap: nowrap;
}

.sobrenosotros .col-md-5>img {
  background-color: #FDDB31;
  border:#000 solid;
  margin: 30px;
  padding: 20px;
  height: 10%;
  border-radius: 10px;
}