@import url(../css/menu.css);
body{
background: linear-gradient(0deg, rgb(165, 165, 165) 0%, rgba(20,20,20,1) 60%, rgba(20,20,20,1) 100%);

}
.navbar{
  padding: 5px 0;
  justify-content: space-around;
}
.espacio{
  padding-left: 20px;
}
.nosotros{
  display: flex;
  width: 100%;
  padding: 50px;
  align-items: center;
}
.nosotros div{
  padding-right: 20px;
}
.nosotros h2{
  font-size: 40px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.nosotros p{
  font-size: 22px;
  color: #fff;

}
.nosotros img{
  width: 50%;
  height: 270px;
}
.slider{
  display: block;
  width:100%;
  overflow: hidden;
}
.slider ul{
  display:flex;
  animation: cambio 12s infinite alternate linear;
  width: 200%;
  height: 200px;
  padding: 0;
}
.carru{
  width:100%;
  list-style: none;
}
.in{
  color: #ffff;
  font-size: 20px;
  padding: 40px 20px;
  text-align: center;
}
.in h2{
  padding: 10px;
  border-bottom: solid 1px #fff;
}
.in p{
  padding-top: 10px;
}
.grupo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  background-color: #858585b1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 30px 5px rgba(15, 15, 15, 0.564);
  width: 260px;
  margin: 10px 0;
}
.picture{
  width: 120px;
  height: 120px;
  border-radius: 100px;
  object-fit: cover;
  margin: 10px;
}
h1{
  width: 70%;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  margin: 10px 20px 5px 20px;
}
.article_subtitle{
  text-transform: uppercase;
  color: #ffffff98;
  margin: 0;
  font-size:11px;
  padding-bottom: 12px;
}
.header_p{
  color: #cfcfcf;
  text-align: center;
  width: 80%;
  font-size:15px;
  
}
hr{
  margin: 15px;
  border: solid 1px #9b9dab;
}
section{
  display: flex;
  gap: 5px;
  width: 100%;
  margin: 0 0 20px 0;
  align-items: center;
  justify-content: center;
}

section img{
  width: 30px;
}
.red{
  padding: 15px;
}

.red img:hover{
  width: 36px;
  transition: 200ms;
}
@keyframes cambio {
  0%{margin-left: 0;}
  50%{margin-left: 0;}

  55%{margin-left: -100%;}
  95%{margin-left: -100%;}
}