.menu{
  padding: 10px;
  color: #ffffff;
  border-radius: 20px;
  transition: all 300ms;
  cursor: pointer;
}
.menu:hover{
  padding: 15px;
  font-size: 30px;
  background-color: rgba(0,0,0,0.5);

}
.desplegable{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 600%;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.lista{
  position: fixed;
  background-color: white;
  box-shadow: 4px 4px 5px 10px rgba(0,0,0,0.5);
  right: -350px;
  top: 0;
  margin-top: 0;
  z-index: 1;
  width: 300px;
  height: 100vh;
  padding-top: 30px;
  transition: all 300ms;
}
li{
  list-style: none;
  width: 100%;
  font-size: 1.3em;
  transition: all .7s;
}
li:hover{
   background-color: #000000;

}
.direc:hover{
  color: #ffffff;

  padding:18px 0 18px 50px;
  font-size: 23px;
}
.direc{
  display: block;
  color: black;
  text-decoration: none;
  transition: all 200ms;
  padding:15px 15px;
  border-bottom: 2px solid black;
}
