@import url(menu.css);
body{
  font-family: sans-serif;
  margin: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  background:url(../../assets/back.jpg) center/ cover no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}
section{
  margin: 50px;
}
section article{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5);
}

section article img{
  width: 60%;
  height: 60vh;
  padding: 20px;
}
.descrip{
  padding: 30px;
}
hr{
  margin: 20px;
}
.ubicacion{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5);
  align-items: center;
}
.ubi-ti{
  font-size: 1.5em;
  margin-left: 40p;
}
iframe{
  width: 100%;
  
}
.escribir{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5);
}
.desplegar{
  padding: 20px 40px;
  border: none;
  font-size: 1.3em;
  border-radius: 15px;
  color: #ffffff;
  background-color: #000000;
  transition: all 500ms;
}
.desplegar:hover{
  padding: 25px 45px;
  background-color: #ffffff;
  color: #000000;
}
.expe{
 margin-bottom: 10px;
}
.escribir{
  margin-top: 20px;
  display: none;
  flex-direction: column;
  padding: 35px;
  transition: all 1s;
}
.opini{
  background-color: #000000;
  padding: 5px 20px;
  color: #ffffff;
  margin: 20px auto;
  width: 30%;
  border-radius: 10px;
  font-size: 1em;
  border: none;
  transition: all 300ms;
}
.opini:hover{
  padding: 8px 23px;
  background-color: white;
  color: #000000;
  box-shadow: 4px 4px 5px 5px rgba(0,0,0,0.5);
}
.form{
  display: flex;
  flex-direction: column;
}
.form input,.form label{
  margin: 10px;
}
input[type="date"]{
  width: 30%;
  padding: 3px;
}
.calificacion{
  display: flex;
  background-color: #ffffff;
  width: 100%;
}
.total{
  width: 50%;
  min-width: 200px
}
.bar{
  display: flex;
  align-items: center;
}
.progress{
 border-radius: 20px;
  background-color:rgba(0,0,0,0.5);
  height: 20px;
  margin: 20px;


}
.nom{
  display: block;
  padding: 20px;
  margin-bottom: 40px;
  margin-right: 30px;
  
}
@keyframes aparecer {
  0%{
    opacity: 0;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 390px;
    margin-bottom: 30px;
  }
}
@keyframes desaparecer {
  0%{
    opacity: 1;
    height: 380px;
  }
  100%{
    opacity: 0;
    height:0;
    padding: 0;
    margin:0px;
    display: none;
  }

}
.estre {
  width: 250px;
  margin-bottom:10px ;
  margin-top: -15px;
  height: 60px;
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

input[type="radio"] {
  display: none;
}

.label {
  color: grey;
  font-size: 40px;
}

.label:hover,
.label:hover ~ .label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
footer{
  height: 40px;
  width: 100%;
  text-align: center;
}
footer p{
  color: #ffffff;
  font-size: 20px;
}
@media screen and (max-width:800px){
  section article{
    flex-direction: column;
  }
  section article img{
    width: 100%;
    height: 40%;
  }
  .total{
    display: none;
  }
  .nom{
    margin: 20px auto 40px;
  }
}