@import url(./menu.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body { 
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  
  background: linear-gradient(rgb(22, 20, 20),rgba(5,7,12,0.5)), url("../../img/fond2.svg")center/cover;
  background-attachment:fixed;
}
.boletas{
 
  padding: 20px;
  color: #FCF8FF;
  font-size: 40px;
  margin: 0 40px 40px;
  text-align: center;
}
.map{
  padding: 50px;
  background: rgb(1,0,8);
  background: linear-gradient(90deg, rgba(1,0,8,1) 3%, rgba(63,76,79,1) 46%, rgba(9,10,17,1) 100%);
}
.presentacion{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 10%;
  
}
.presentacion img{
  width: 50%;
  border-radius:  10px ;
}
.presentacion h2{
  color: #87fe93;
  font-size: 35px;
  padding-bottom:20px;
}
.presentacion p{
  color: #FCF8FF;
  font-size: 20px;
  line-height : 25px;
  padding-bottom: 20px;
}
.presentacion span{
  color: #e8fe87;
  font-size: 25px;
}
.presentacion div a{
  text-decoration: none;
  font-size: 25px;
  color: #FCF8FF;
}
.presentacion div a span{
  font-size: 25px;
  padding-left: 20px;
  transition: all 400ms;
}
.presentacion div a:hover span{
  padding-left: 30px;
  letter-spacing: 5px;
  
}
.main{
  height: 80%;
}



/* Cards Alexa */

.contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}
.contenedor img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.contenedor>div{
  width: 23%;
  min-width: 300px;
  border: 10px #87fe93 solid;
  background-color: #141414;
  color: #FCF8FF;
  font-size: 20px;
  transition: all 300ms;
}
.contenedor>div:hover{
  border: 10px #4a8850 solid;
}
.informacion{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 5px;
  gap: 15px;
}
.informacion>p:first-child{
  font-size: 32px;
  font-weight: 300;
  font-weight: bold;
}

.informacion button{
  background-color: #FCF8FF;
  padding: 7px 20px;
  border: #000 solid;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 40px;
  transition: all 400ms;
}
.informacion button:hover{
  font-size: 22px;
}
.informacion .info {
  width: 100%;
  padding:10px;
  word-wrap: break-word;
  text-align: center;
  
}
.pie-pagina{
  background: rgb(1,0,8);
  background: linear-gradient(90deg, rgba(1,0,8,1) 3%, rgba(63,76,79,1) 46%, rgba(9,10,17,1) 100%);
}
hr{
  padding: 2px;
  background-color: #FCF8FF;
  margin: 10px;
}



@media(max-width:1200px){
  
  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
 
}
@media(max-width:1000px){
  .presentacion img{
    display: none;
  }
  .map{
    width: 100%;
  }
  .presentacion:last-child{
    text-align: center;
    display: block;
  }
  .presentacion iframe{
    width: 100%;
  }
}

