@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.boleta{
  position: relative;
  padding: 5px 30px;
  text-decoration: none;
  transition: all 500ms ease;
  color: #ffffff;
  font-size: 36px;
}
.boleta::after{
  content: "";
  position: absolute;
  width: 7%;
  height: 100%;
  left: -5%;
  top: 0;
  transform: skew(20deg,0deg);
  transition: all 0.4s ease;
}
.boleta::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  transform: skew(20deg,0deg);
  transition: all 0.4s ease;
  z-index: -1;
}
.boleta:hover{
  color: #141414;
}
.boleta:hover::after{
  background-color: #ffffff;
  transform: skew(20deg,0deg) translateX(180px);
}
.boleta:hover::before{
  background-color: #cd7c01;
  border: 3px solid #ff9b04;
  transform: skew(20deg,0deg)scale(1.1);
}
.menu{
  height: 100%;
  margin:auto 20px;
  color: #ffffff;
  transition: all 500ms;
  cursor: pointer;
  font-size: 35px;
}
.menu:hover{
  font-size: 42px;
  color: #FCF8FF;
  border-bottom: solid 3px #ffffff;
  }
  
.desplegable{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0404048d;
  width: 100vw;
  height: 100vh;
  display: none;
}
.lista{
  position: fixed;
  background:white;
  right: -400px;
  top: 0;
  margin-top: 0;
  z-index: 1;
  width: 380px;
  height: 100vh;
  padding: 30px 0 0 20px;
  transition: all 300ms;
}
.list{
  list-style: none;
  width: 100%;
  font-size: 1.5em;
  transition: all .7s;
  padding: 5px;
   
}
.list:hover{
   background:url("../../img/fondo2.webp") center /cover no-repeat ;
   font-size: 1.7em;
}
.direc:hover{
  color: #ffffff;
  padding:18px 0 18px 50px;
  font-size: 23px;
}
.direc{
  display: block;
  color: black;
  text-decoration: none;
  transition: all 200ms;
  padding:15px 15px;
  border-bottom: 2px solid;
  box-sizing: border-box;
}
.navegacion{
  height: 20vh;
}
.navbar{
  background-color: #141414;
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5px 40px;
  position:fixed;  
}
.lista{
  list-style: none;
}
.header-logo a img{
  border-radius: 15px;
  width: 200px;
}
/*footer*/
.pie-pagina{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b1b1b;
  margin: 20px;
}
.der{
  color: #ffffff;
  padding:30px 5%;
  border-left: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}
.redes{
  display: flex;
}
.redes img{
  width: 60px;
  height: 60px;
  padding: 10px 10px;
  transition: all 300ms;
}
.redes img:hover{
  width: 65px;
  height: 65px;
}
@media screen and (max-width:1050px) {
  .pie-pagina{
    flex-direction: column;
  }
  .der{
    padding:30px 50px;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    border-left: none;
    border-right: none;
  }
  
}
@media (max-width:800px) {
  .boleta{
    display: none;
  }
  .navbar{
    width: 100%;
    justify-content: space-around;
  }
}