@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
  font-family: 'Bangers', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  text-decoration: none;
}
body{
  height: 100vh;
  width: 100%;
  background:linear-gradient(rgba(20, 20, 20, 0.663)50%,rgba(159, 159, 159, 0.5)),url("../../img/concer.svg")center;
  background-color: #fff;
  background-size: 150%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0%{background-position:0 50% ;}
  50%{background-position:100% 50% ;}
  100%{background-position:0 50% ;}
}
main{
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px ;
}
.contenedor{
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.caja__trasera{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
  background-color: #161616;
}
.caja__trasera article{
  margin: 100px 40px;
  color: #fff;
  transition: all 500ms;
}
.caja__trasera article p,
.caja__trasera article button{
  margin-top: 30px;
}
.caja__trasera article h3{
  font-weight: 400;
  font-size: 26px;
}
.caja__trasera button{
  position: relative;
  padding: 5px 30px;
  text-decoration: none;
  transition: all 500ms ease;
  color: #ffffff;
  background:black;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
}
.caja__trasera button:hover{
  padding: 9px 32px;
  background:linear-gradient(40deg,rgb(20, 20, 20)50%,rgb(159, 159, 159));
  background-size: 200%;
  animation: color 2s ease-in infinite;
}


/* formularios */
.contenedor__login-register{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px; 
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
  width: 100%;
  padding: 80px 20px;
  background:url("../../img/fondo\ \(1\).svg");
  background-color: #f2f2f2;
  border: solid 2px #fff;
  background-position: bottom ;
  position: absolute;
  border-radius: 20px;
}
.contenedor__login-register form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(40deg, rgba(255,252,34,1) 0%, rgba(124,255,57,1) 30%, rgba(0,254,255,1) 60%, rgba(255,42,200,1) 86%);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: color 12s ease-in-out infinite;
}
.contenedor__login-register form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px ;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}
.contenedor__login-register form button{
  padding: 8px 40px;
  margin-top: 40px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #ffffff;
}
.login{
  opacity: 1;
  display: block;
}
.register{
  display: none;
}

/* Resposive*/

@media(max-width:850px) {
  main{
    margin-top: 50px;
  }
  .caja__trasera{
    max-width: 370px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .caja__trasera article{
    margin: 0px;
    padding: 3px;
    position: absolute;
  }
  .login__trasera{
    opacity: 0;
  }
  /* formulario */
  .contenedor__login-register{
    top: -10px;
    left: 0px;
    margin: auto;
  }
  .contenedor__login-register form{
    position: relative;
  }
} 
